<nav class="uk-background-secondary uk-light uk-margin" uk-navbar>
    <div class="uk-navbar-left">
        <a href="" class="uk-navbar-item uk-logo">Eigo of the day</a>
        {% if user.is_authenticated %}
            <div class="uk-navbar-item">
                <div>{{ user.email }}</div>
            </div>
        {% endif %}
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            {% if user.is_authenticated %}
                {% comment 'ログアウト用の画面へ飛ぶ' %} <li><a href="{% url 'account_logout' %}">Log Out</a></li> {% endcomment %}
                <li>{% include 'widgets/logout-modal.html' %}</li>
            {% else %}
                <li><a href="{% url 'account_login' %}">Log In</a></li>
                <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
            {% endif %}
        </ul>
    </div>
</nav>