{% extends '_base.html' %}
{% load static %}

{% block title %}
{% endblock title %}

{% block content %}

<div class="uk-container-small uk-align-center">
    <div class="uk-flex-left uk-margin-medium-bottom">
        <a class="uk-link-muted uk-text-uppercase" href="{% url 'eigo:eigo_list' %}">back</a>
    </div>

    <article class="uk-article">
        <div class="eigo-detail-phrase eigo-detail-common">
            <h1 class="uk-article-title">{{ eigo.phrase }}</h1>
            <p class="uk-article-meta">added by {{ eigo.user }} | {{ eigo.examples.count }} examples | {{ eigo.snaps.count }} snaps</p>
        </div>

        <div class="eigo-detail-example eigo-detail-common">
            <h3>Examples</h3>
            <ul class="uk-list uk-list-divider">
                {% for example in eigo.examples.all %}
                    <li>{{ example.example }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="eigo-detail-snap eigo-detail-common">
            <h3>Snaps</h3>
            <div class="uk-position-relative uk-visible-toggle" uk-slider>
                <ul class="uk-slider-items uk-grid">
                    {% for snap in eigo.snaps.all %}
                        {% if snap.snap %}
                            <li>
                                <div class="uk-panel">
                                    <img src="{{ snap.snap.url }}" alt="{{ snap.snap.name }}" width="300" height="200">
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
            </div>
        </div>

        <div class="eigo-detail-modify eigo-detail-common uk-flex uk-flex-around">
            <a href="{% url 'eigo:eigo_edit' pk=eigo.pk %}" class="uk-button uk-button-primary">edit</a>
            <a href="{% url 'eigo:eigo_delete' pk=eigo.pk %}" class="uk-button uk-button-danger">delete</a>
        </div>
    </article>
</div>
{% endblock content %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/eigo-detail.css' %}">
{% endblock style %}